<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../style/index.css" rel="stylesheet" media="screen" />
</head>
<body>
  <div class="container">
    <div class="FormDiv">
        <input type="text" placeholder="name" class="name"/>
        <textarea rows="5" cols="40" placeholder="address" class="address"></textarea>
        <input type="number" placeholder="Number of cans/..." class="cans"/>
    </div>
    <button class="placeorder">Order</button>
  </div>
  <script src="../javascript/script.js"></script>
</body>
</html>